In [ ]:
import pandas as pd
pd.read_csv()

In [1]:
import pandas as pd
df= pd.read_csv("/kaggle/input/social-media-and-mental-health-balance/Mental_Health_and_Social_Media_Balance_Dataset.csv")

In [2]:
print(df.head())

  User_ID  Age  Gender  Daily_Screen_Time(hrs)  Sleep_Quality(1-10)  \
0    U001   44    Male                     3.1                  7.0
1    U002   30   Other                     5.1                  7.0
2    U003   23   Other                     7.4                  6.0
3    U004   36  Female                     5.7                  7.0
4    U005   34  Female                     7.0                  4.0

   Stress_Level(1-10)  Days_Without_Social_Media  Exercise_Frequency(week)  \
0                 6.0                        2.0                       5.0
1                 8.0                        5.0                       3.0
2                 7.0                        1.0                       3.0
3                 8.0                        1.0                       1.0
4                 7.0                        5.0                       1.0

  Social_Media_Platform  Happiness_Index(1-10)
0              Facebook                   10.0
1              LinkedIn                   10.0
2               YouTube                    6.0
3                TikTok                    8.0
4           X (Twitter)                    8.0

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   User_ID                    500 non-null    object
 1   Age                        500 non-null    int64
 2   Gender                     500 non-null    object
 3   Daily_Screen_Time(hrs)     500 non-null    float64
 4   Sleep_Quality(1-10)        500 non-null    float64
 5   Stress_Level(1-10)         500 non-null    float64
 6   Days_Without_Social_Media  500 non-null    float64
 7   Exercise_Frequency(week)   500 non-null    float64
 8   Social_Media_Platform      500 non-null    object
 9   Happiness_Index(1-10)      500 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 39.2+ KB
None

In [6]:
df.isnull().sum

<bound method DataFrame.sum of      User_ID    Age  Gender  Daily_Screen_Time(hrs)  Sleep_Quality(1-10)  \
0      False  False   False                   False                False
1      False  False   False                   False                False
2      False  False   False                   False                False
3      False  False   False                   False                False
4      False  False   False                   False                False
..       ...    ...     ...                     ...                  ...
495    False  False   False                   False                False
496    False  False   False                   False                False
497    False  False   False                   False                False
498    False  False   False                   False                False
499    False  False   False                   False                False

     Stress_Level(1-10)  Days_Without_Social_Media  Exercise_Frequency(week)  \
0                 False                      False                     False
1                 False                      False                     False
2                 False                      False                     False
3                 False                      False                     False
4                 False                      False                     False
..                  ...                        ...                       ...
495               False                      False                     False
496               False                      False                     False
497               False                      False                     False
498               False                      False                     False
499               False                      False                     False

     Social_Media_Platform  Happiness_Index(1-10)
0                    False                  False
1                    False                  False
2                    False                  False
3                    False                  False
4                    False                  False
..                     ...                    ...
495                  False                  False
496                  False                  False
497                  False                  False
498                  False                  False
499                  False                  False

[500 rows x 10 columns]>

In [7]:
print("duplicate values in the dataset are:", df.duplicated().sum)

duplicate values in the dataset are: <bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool>

In [19]:
pd.DataFrame(df.dtypes,columns=["Data Types"])

                          Data Types
User_ID                       object
Age                            int64
Gender                        object
Daily_Screen_Time(hrs)       float64
Sleep_Quality(1-10)          float64
Stress_Level(1-10)           float64
Days_Without_Social_Media    float64
Exercise_Frequency(week)     float64
Social_Media_Platform         object
Happiness_Index(1-10)        float64

In [29]:
print("the shape of Dataset is {},rows and {} columns".format(len(df),len(df.columns)))

the shape of Dataset is 500,rows and 10 columns

In [22]:
df.describe()

,Age,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Happiness_Index(1-10)
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,32.988000,5.530000,6.304000,6.618000,3.134000,2.448000,8.376000
std,9.960637,1.734877,1.529792,1.542996,1.858751,1.428067,1.524228
min,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,4.000000
25%,24.000000,4.300000,5.000000,6.000000,2.000000,1.000000,7.000000
50%,34.000000,5.600000,6.000000,7.000000,3.000000,2.000000,9.000000
75%,41.000000,6.700000,7.000000,8.000000,5.000000,3.000000,10.000000
max,49.000000,10.800000,10.000000,10.000000,9.000000,7.000000,10.000000

In [34]:
print("Available columns:")
print(df.columns.tolist())

print("\nDataFrame info:")
print(df.info())

print("\nFirst few rows:")
print(df.head())

Available columns:
['_______________u_______________s_______________e_______________r_______________________________i_______________d_______________', '_______________a_______________g_______________e_______________', '_______________g_______________e_______________n_______________d_______________e_______________r_______________', '_______________d_______________a_______________i_______________l_______________y_______________________________s_______________c_______________r_______________e_______________e_______________n_______________________________t_______________i_______________m_______________e_______________(_______________h_______________r_______________s_______________)_______________', '_______________s_______________l_______________e_______________e_______________p_______________________________q_______________u_______________a_______________l_______________i_______________t_______________y_______________(_______________1_______________-_______________1_______________0_______________)_______________', '_______________s_______________t_______________r_______________e_______________s_______________s_______________________________l_______________e_______________v_______________e_______________l_______________(_______________1_______________-_______________1_______________0_______________)_______________', '_______________d_______________a_______________y_______________s_______________________________w_______________i_______________t_______________h_______________o_______________u_______________t_______________________________s_______________o_______________c_______________i_______________a_______________l_______________________________m_______________e_______________d_______________i_______________a_______________', '_______________e_______________x_______________e_______________r_______________c_______________i_______________s_______________e_______________________________f_______________r_______________e_______________q_______________u_______________e_______________n_______________c_______________y_______________(_______________w_______________e_______________e_______________k_______________)_______________', '_______________s_______________o_______________c_______________i_______________a_______________l_______________________________m_______________e_______________d_______________i_______________a_______________________________p_______________l_______________a_______________t_______________f_______________o_______________r_______________m_______________', '_______________h_______________a_______________p_______________p_______________i_______________n_______________e_______________s_______________s_______________________________i_______________n_______________d_______________e_______________x_______________(_______________1_______________-_______________1_______________0_______________)_______________']

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                           --------------  -----
 0   _______________u_______________s_______________e_______________r_______________________________i_______________d_______________                                                                                                                                                                                                                                                                                                  500 non-null    object
 1   _______________a_______________g_______________e_______________                                                                                                                                                                                                                                                                                                                                                                  500 non-null    int64
 2   _______________g_______________e_______________n_______________d_______________e_______________r_______________                                                                                                                                                                                                                                                                                                                  500 non-null    object
 3   _______________d_______________a_______________i_______________l_______________y_______________________________s_______________c_______________r_______________e_______________e_______________n_______________________________t_______________i_______________m_______________e_______________(_______________h_______________r_______________s_______________)_______________                                                  500 non-null    float64
 4   _______________s_______________l_______________e_______________e_______________p_______________________________q_______________u_______________a_______________l_______________i_______________t_______________y_______________(_______________1_______________-_______________1_______________0_______________)_______________                                                                                                  500 non-null    float64
 5   _______________s_______________t_______________r_______________e_______________s_______________s_______________________________l_______________e_______________v_______________e_______________l_______________(_______________1_______________-_______________1_______________0_______________)_______________                                                                                                                  500 non-null    float64
 6   _______________d_______________a_______________y_______________s_______________________________w_______________i_______________t_______________h_______________o_______________u_______________t_______________________________s_______________o_______________c_______________i_______________a_______________l_______________________________m_______________e_______________d_______________i_______________a_______________  500 non-null    float64
 7   _______________e_______________x_______________e_______________r_______________c_______________i_______________s_______________e_______________________________f_______________r_______________e_______________q_______________u_______________e_______________n_______________c_______________y_______________(_______________w_______________e_______________e_______________k_______________)_______________                  500 non-null    float64
 8   _______________s_______________o_______________c_______________i_______________a_______________l_______________________________m_______________e_______________d_______________i_______________a_______________________________p_______________l_______________a_______________t_______________f_______________o_______________r_______________m_______________                                                                  500 non-null    object
 9   _______________h_______________a_______________p_______________p_______________i_______________n_______________e_______________s_______________s_______________________________i_______________n_______________d_______________e_______________x_______________(_______________1_______________-_______________1_______________0_______________)_______________                                                                  500 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 39.2+ KB
None

First few rows:
  _______________u_______________s_______________e_______________r_______________________________i_______________d_______________  \
0                                               U001
1                                               U002
2                                               U003
3                                               U004
4                                               U005

   _______________a_______________g_______________e_______________  \
0                                                 44
1                                                 30
2                                                 23
3                                                 36
4                                                 34

  _______________g_______________e_______________n_______________d_______________e_______________r_______________  \
0                                               Male
1                                              Other
2                                              Other
3                                             Female
4                                             Female

   _______________d_______________a_______________i_______________l_______________y_______________________________s_______________c_______________r_______________e_______________e_______________n_______________________________t_______________i_______________m_______________e_______________(_______________h_______________r_______________s_______________)_______________  \
0                                                3.1
1                                                5.1
2                                                7.4
3                                                5.7
4                                                7.0

   _______________s_______________l_______________e_______________e_______________p_______________________________q_______________u_______________a_______________l_______________i_______________t_______________y_______________(_______________1_______________-_______________1_______________0_______________)_______________  \
0                                                7.0
1                                                7.0
2                                                6.0
3                                                7.0
4                                                4.0

   _______________s_______________t_______________r_______________e_______________s_______________s_______________________________l_______________e_______________v_______________e_______________l_______________(_______________1_______________-_______________1_______________0_______________)_______________  \
0                                                6.0
1                                                8.0
2                                                7.0
3                                                8.0
4                                                7.0

   _______________d_______________a_______________y_______________s_______________________________w_______________i_______________t_______________h_______________o_______________u_______________t_______________________________s_______________o_______________c_______________i_______________a_______________l_______________________________m_______________e_______________d_______________i_______________a_______________  \
0                                                2.0
1                                                5.0
2                                                1.0
3                                                1.0
4                                                5.0

   _______________e_______________x_______________e_______________r_______________c_______________i_______________s_______________e_______________________________f_______________r_______________e_______________q_______________u_______________e_______________n_______________c_______________y_______________(_______________w_______________e_______________e_______________k_______________)_______________  \
0                                                5.0
1                                                3.0
2                                                3.0
3                                                1.0
4                                                1.0

  _______________s_______________o_______________c_______________i_______________a_______________l_______________________________m_______________e_______________d_______________i_______________a_______________________________p_______________l_______________a_______________t_______________f_______________o_______________r_______________m_______________  \
0                                           Facebook
1                                           LinkedIn
2                                            YouTube
3                                             TikTok
4                                        X (Twitter)

   _______________h_______________a_______________p_______________p_______________i_______________n_______________e_______________s_______________s_______________________________i_______________n_______________d_______________e_______________x_______________(_______________1_______________-_______________1_______________0_______________)_______________
0                                               10.0
1                                               10.0
2                                                6.0
3                                                8.0
4                                                8.0

In [37]:
if 'age' in df.columns:
    df['Age'] = df['age'].astype(int)

df.rename(columns={'age': 'Age'}, inplace=True)

In [43]:
df.to_csv("/kaggle/working/Mental_Health_and_Social_Media_Balance_Dataset.csv", index=False)
print("File saved to /kaggle/working/")

File saved to /kaggle/working/